* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.home {
    background-color: #161616;
    height: 100vh;
}
a{
    text-decoration: none;
}
span {
    color: white;
    font-size: 40px;
    margin:20px;
    cursor:pointer;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;

}

h1 {
    align-items: center;
    text-align: center;
    color: #f7c95b;
    font-size: 84px;
    margin-top: 35vh;
}