@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    cursor: none;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #161616;
    overflow: hidden;
    z-index: -1;
    filter: brightness(80%);
}

.background span {
    width: 6vmin;
    height: 6vmin;
    border-radius: 6vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 42;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #c8b53c;
    top: 1%;
    left: 91%;
    animation-duration: 83s;
    animation-delay: -66s;
    transform-origin: -17vw 7vh;
    box-shadow: -12vmin 0 1.5672262422470227vmin currentColor;
}

.background span:nth-child(1) {
    color: #c8b53c;
    top: 99%;
    left: 65%;
    animation-duration: 22s;
    animation-delay: -69s;
    transform-origin: 22vw 17vh;
    box-shadow: 12vmin 0 1.8180858389979122vmin currentColor;
}

.background span:nth-child(2) {
    color: #c8b53c;
    top: 96%;
    left: 30%;
    animation-duration: 28s;
    animation-delay: -2s;
    transform-origin: 12vw -9vh;
    box-shadow: 12vmin 0 1.516718741410331vmin currentColor;
}

.background span:nth-child(3) {
    color: #c8b53c;
    top: 20%;
    left: 53%;
    animation-duration: 35s;
    animation-delay: -32s;
    transform-origin: 8vw 2vh;
    box-shadow: 12vmin 0 2.3064185297335658vmin currentColor;
}

.background span:nth-child(4) {
    color: #c8b53c;
    top: 29%;
    left: 27%;
    animation-duration: 35s;
    animation-delay: -79s;
    transform-origin: 10vw 0vh;
    box-shadow: -12vmin 0 2.2862112642231134vmin currentColor;
}

.background span:nth-child(5) {
    color: #c8b53c;
    top: 30%;
    left: 57%;
    animation-duration: 21s;
    animation-delay: -57s;
    transform-origin: 17vw -22vh;
    box-shadow: 12vmin 0 2.2846007448293397vmin currentColor;
}

.background span:nth-child(6) {
    color: #c8b53c;
    top: 90%;
    left: 40%;
    animation-duration: 38s;
    animation-delay: -38s;
    transform-origin: 22vw -12vh;
    box-shadow: 12vmin 0 2.1441220589335206vmin currentColor;
}

.background span:nth-child(7) {
    color: #c8b53c;
    top: 58%;
    left: 89%;
    animation-duration: 21s;
    animation-delay: -59s;
    transform-origin: 13vw 13vh;
    box-shadow: 12vmin 0 2.4593837895182vmin currentColor;
}

.background span:nth-child(8) {
    color: #c8b53c;
    top: 24%;
    left: 3%;
    animation-duration: 84s;
    animation-delay: -53s;
    transform-origin: -19vw 1vh;
    box-shadow: -12vmin 0 2.342848814600118vmin currentColor;
}

.background span:nth-child(9) {
    color: #c8b53c;
    top: 85%;
    left: 47%;
    animation-duration: 49s;
    animation-delay: -6s;
    transform-origin: 24vw -5vh;
    box-shadow: -12vmin 0 2.413685972135877vmin currentColor;
}

.background span:nth-child(10) {
    color: #c8b53c;
    top: 48%;
    left: 3%;
    animation-duration: 30s;
    animation-delay: -1s;
    transform-origin: 12vw 18vh;
    box-shadow: -12vmin 0 2.2652780622996276vmin currentColor;
}

.background span:nth-child(11) {
    color: #c8b53c;
    top: 86%;
    left: 54%;
    animation-duration: 71s;
    animation-delay: -71s;
    transform-origin: -20vw 25vh;
    box-shadow: 12vmin 0 2.0017672101686794vmin currentColor;
}

.background span:nth-child(12) {
    color: #c8b53c;
    top: 82%;
    left: 4%;
    animation-duration: 23s;
    animation-delay: -66s;
    transform-origin: -13vw -17vh;
    box-shadow: -12vmin 0 1.896611034290355vmin currentColor;
}

.background span:nth-child(13) {
    color: #c8b53c;
    top: 72%;
    left: 43%;
    animation-duration: 84s;
    animation-delay: -62s;
    transform-origin: 16vw -8vh;
    box-shadow: 12vmin 0 2.137285725043272vmin currentColor;
}

.background span:nth-child(14) {
    color: #c8b53c;
    top: 40%;
    left: 57%;
    animation-duration: 82s;
    animation-delay: -26s;
    transform-origin: 19vw 7vh;
    box-shadow: 12vmin 0 1.7505032110695293vmin currentColor;
}

.background span:nth-child(15) {
    color: #c8b53c;
    top: 30%;
    left: 57%;
    animation-duration: 24s;
    animation-delay: -34s;
    transform-origin: 12vw -13vh;
    box-shadow: 12vmin 0 1.605637622572084vmin currentColor;
}

.background span:nth-child(16) {
    color: #c8b53c;
    top: 100%;
    left: 5%;
    animation-duration: 47s;
    animation-delay: -70s;
    transform-origin: -23vw 16vh;
    box-shadow: -12vmin 0 1.645573138174407vmin currentColor;
}

.background span:nth-child(17) {
    color: #c8b53c;
    top: 30%;
    left: 90%;
    animation-duration: 9s;
    animation-delay: -31s;
    transform-origin: -12vw 17vh;
    box-shadow: 12vmin 0 2.2612274071938065vmin currentColor;
}

.background span:nth-child(18) {
    color: #c8b53c;
    top: 15%;
    left: 2%;
    animation-duration: 82s;
    animation-delay: -4s;
    transform-origin: 11vw 15vh;
    box-shadow: 12vmin 0 1.973164799689199vmin currentColor;
}

.background span:nth-child(19) {
    color: #c8b53c;
    top: 97%;
    left: 42%;
    animation-duration: 57s;
    animation-delay: -1s;
    transform-origin: -10vw -3vh;
    box-shadow: 12vmin 0 1.6006694134353163vmin currentColor;
}

.background span:nth-child(20) {
    color: #c8b53c;
    top: 11%;
    left: 61%;
    animation-duration: 13s;
    animation-delay: -4s;
    transform-origin: 21vw 21vh;
    box-shadow: -12vmin 0 2.279641840562735vmin currentColor;
}

.background span:nth-child(21) {
    color: #c8b53c;
    top: 13%;
    left: 70%;
    animation-duration: 74s;
    animation-delay: -21s;
    transform-origin: -18vw 4vh;
    box-shadow: 12vmin 0 2.004640006474995vmin currentColor;
}

.background span:nth-child(22) {
    color: #c8b53c;
    top: 96%;
    left: 64%;
    animation-duration: 26s;
    animation-delay: -30s;
    transform-origin: 24vw -15vh;
    box-shadow: -12vmin 0 2.0919903946828224vmin currentColor;
}

.background span:nth-child(23) {
    color: #c8b53c;
    top: 47%;
    left: 59%;
    animation-duration: 70s;
    animation-delay: -52s;
    transform-origin: -12vw 23vh;
    box-shadow: -12vmin 0 2.359571465620583vmin currentColor;
}

.background span:nth-child(24) {
    color: #c8b53c;
    top: 5%;
    left: 70%;
    animation-duration: 83s;
    animation-delay: -28s;
    transform-origin: -14vw 22vh;
    box-shadow: -12vmin 0 1.6688582842551536vmin currentColor;
}

.background span:nth-child(25) {
    color: #c8b53c;
    top: 80%;
    left: 83%;
    animation-duration: 43s;
    animation-delay: -24s;
    transform-origin: -10vw -12vh;
    box-shadow: -12vmin 0 2.321204501419046vmin currentColor;
}

.background span:nth-child(26) {
    color: #c8b53c;
    top: 64%;
    left: 32%;
    animation-duration: 85s;
    animation-delay: -15s;
    transform-origin: 11vw -8vh;
    box-shadow: -12vmin 0 1.936706368460059vmin currentColor;
}

.background span:nth-child(27) {
    color: #c8b53c;
    top: 80%;
    left: 84%;
    animation-duration: 50s;
    animation-delay: -43s;
    transform-origin: 10vw -17vh;
    box-shadow: -12vmin 0 2.1977485692988177vmin currentColor;
}

/* Background ends here */
li {
    text-decoration: none;
}



.home {
    height: 100vh;
    color: white;
    align-items: center;
    text-align: center;
    margin: auto;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    gap: 20px;
    max-width: 80%;
}

.home h1 {
    align-items: center;
    text-align: center;
    color: #f7c95b;
    font-size: 84px;
    position: relative;
}

.home button {
    margin-top: 50px;
}

.contents h3 {
    font-size: 36px;
    font-weight: bold;
}

.contents h4 {
    font-size: 18px;
    color: rgb(131, 127, 127);

}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    z-index: 11;
    align-items: center;
    text-align: center;
    display: contents;
    position: sticky;
}

.navbar-contents {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding: 20px;
    max-width: 95%;
    position: sticky;
    z-index: 11;
}

.navbar-name {
    font-size: 2rem;
    font-weight: bolder;
    color: #f7c95b;
    cursor: pointer;

}

.navbar-contents .menu a {
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
    color: white;

}

.navbar-contents .menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navbar .menu li {
    text-decoration: none;
    list-style: none;
}

.about {
    height: 100vh;
    color: white;
    align-items: center;
    text-align: center;
}


.cursor {
    height: 25px;
    width: 25px;
    background-color: #c8b53c;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

.cursor-blur {
    height: 300px;
    width: 300px;
    background-color: rgba(122, 112, 45, 0.273);
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(50px);
}


.scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;

}

.scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.scroller h4 {
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    color: transparent;
    -webkit-text-stroke: 2px #c8b53c;
    transition: all linear 0.5s;
}

.scroller h4:hover {
    color: #c8b53c;

}

.scroller::-webkit-scrollbar {
    display: none;
}

@keyframes scroll {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-100%);
    }
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    overflow-x: hidden;
}

.about-content img {
    height: 20%;
    width: auto;
    overflow-x: hidden;
}

.about-content img:nth-of-type(1) {
    rotate: 348deg;
}

.about-content img:nth-of-type(2) {
    rotate: 25deg;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;
    height: 70vh;
    max-width: 60%;
    gap: 20px;
}

.about-text-content h2 {
    text-transform: uppercase;
    font-size: 48px;
}

.benefits {
    height: 60vh;
    background-color: #000;
    margin-bottom: 35vh;
}
.benefits h2{
    font-size: 48px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    
}
.cards-wrapper {
    background-color: #f7c95b;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: auto;
    width: 90%;
    height: 100%;
}

.card-bene {
    height: 80%;
    width: 27%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-align: center;
    transition: all ease 0.6s;
    z-index: 10;
    align-items: center;
}

#card-1 {
    background-image: url(/images/sample-image.jpeg);

}

#card-2 {
    background-image: url(/images/sample-image-2.jpg);
}

#card-3 {
    background-image: url(/images/sample-image-3.jpg);

}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #cb9f38d5;
    padding-top: 160px;
    padding: 30px;
    opacity: 0;
    transition: all ease 0.6s;
}

.overlay h4 {
    color: #000;
    font-size: 36px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;

}

.overlay p {
    color: #000;
    font-size: 18px;

}

.card-bene:hover .overlay {
    opacity: 1;
}

.card-bene:hover .not-hover-text {
    opacity: 0;
}

.card-bene:hover {
    transform: rotate3d(1, 1, 0, 20deg);
}

.not-hover-text {
    color: white;
    font-size: 30px;
    opacity: 1;
    position: absolute;
    margin: 20px;
    z-index: 50;
    padding-top: 35vh;
}


.register-button {
    background-color: #72671b;
    color: white;
    padding: 10px 20px;
    border: 2px solid #c8b53c;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    z-index: 100;

}

.register-button:hover {
    transform: scale(1.3);
    transition: all ease 0.3s;
}


.venue {
    height: 50vh;
    background-color: #000;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
}

.venue-contents {
    background-color: #9d8d26;
    width: 80%;
    height: 90%;
    border-radius: 20px;
    color: white;

}

.venue h1 {
    color: #fff;
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-family: 'Rubik Doodle Shadow', sans-serif;
}

.venue-contents h4 {
    margin: 30px;
    font-size: 36px;
}

.venue-contents h4:nth-of-type(1) {
    margin-top: 50px;
}

.venue img {
    height: 35%;
    position: absolute;
    left: 10%;
    rotate: -10deg;
}

.topics {
    height: 120vh;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
}

.topics h1 {
    color: #c8b53c;
    font-size: 56px;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    overflow: hidden;
    border-right: .15em solid #c8b53c;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.card {
    width: 30%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform .5s ease;
    z-index: 11;
    border-radius: 20px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    transition: transform .5s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.hide_content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.card:hover .hide_content {
    height: 100%;
}

.hide_content h2 {
    margin: 0;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.hide_content p {
    margin: 0;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.hide_content h2,
.hide_content p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 65vh;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
    font-family: "Poppins", sans-serif;
}

.footer-col li {
    font-size: 3rem;
    text-align: center;
    list-style-type: none;
    padding: 10px;
}

.footer-col .student-coordinator li:hover {
    text-decoration: underline;
}

.footer h1 {
    color: #F2B71E;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.student-coordinator li {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.student-coordinator ul {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-col .resourcex_logo {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    float: left;
    margin: 0 auto 0 auto;
    padding: 22.5px 0 0 10px;
}

.footer-col p {
    font-size: 20px;
    margin: 10px 5px;
    color: #fff;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.socials li {
    list-style: none;
    margin: 0 15px;
    border: 5px solid white;
    border-radius:50%;
    z-index: 11;
}

.socials a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #0f0d02;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    transition: .5s;
}

.socials li a:hover{
    color: #c8b53c;
}